.btn {
  background-color: lightcoral;
}
.btn:hover {
  background-color: blue;
  color: lightcoral;
}
h1 {
  background: red;
}
#btn {
  background-color: lightcoral;
}
#btn:hover {
  background-color: blue;
  color: lightcoral;
}
